@use 'vary.scss' as *;

.content__text {
    max-height: 8em;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin: 24px;
}


br {
    display: block;
    margin: 4px 0;
    content: "";
}


.content__toggle {
    display: none;
}


.content__toggle:checked ~ .content__text {
    max-height: 200px;
}


.content__toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin-top: 8px;
    user-select: none;
}


.content__toggle-label img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}


.content__paragraph {
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color:#1B1C21;
}
.content__img {
    width: 320px;
    height: auto;
}

@media (min-width:768px){

    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px; /* расстояние между текстом и фото */
        margin: 0 auto;
        padding: 20px;
    }

    .content__text {
        max-height: 10em;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .content__text-block {
        flex: 1;
        max-width: 490px; /* ограничим ширину текста */
    }

    .content__picture {
        display: flex;
        align-items: center;
        margin-right: 24px;
    }

    .content__img {
        width: 531px;
        height: auto;
        border-radius: 10px; /* по желанию */
    }
}

@media (min-width:768px) and (max-width:1439px) {
    .content__img {
        width: 360px;
        height: auto;
        border-radius: 10px;
    }
}