.devices {
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 240px;
    height: 160px;
    flex-shrink: 0;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 16px;
    padding: 16px;
    text-align: left;

    .devices__name {
      font-family: "TT Lakes";
      font-weight: 500;
      font-size: 16px;
      color: #222;
    }

    .icon {
      position: absolute;
      right: 16px;
      bottom: 16px;
      width: 40px;
      height: 40px;
    }
  }
}

.devices-slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    margin-bottom: 16px;
    display: flex;
  }

  &__slide {
    display: flex;
    flex-direction: column; /* ← иконка теперь под текстом */
    justify-content: space-between;
    align-items: flex-start;
    width: 240px;
    height: 160px;
    flex-shrink: 0;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 16px;
    padding: 16px;
    transition: transform 0.2s;

  }

  &__name {
    max-width: 100%;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    color: #222;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-top: auto; /* ← прижимает иконку вниз */
    align-self: flex-end; /* иконка справа внизу */
  }

  &__pagination {
    position: static;
    text-align: center;

    .swiper-pagination-bullet {
      background-color: #DDDDDD;
      width: 12px;
      height: 12px;
      opacity: 1;
      margin: 0 12px;
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      background-color: #B5B6BC;
    }
  }

  .swiper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
  }
}