@use 'vary.scss' as *;

.services {
  padding: 40px 0;
  background-color: $gray-back;
  text-align: center;

  &__slider {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-pagination {
      margin-top: 24px;
      position: static;
    }
    .swiper-pagination-bullet {
      background-color: #DDDDDD;
      width: 12px;
      height: 12px;
      opacity: 1;
      margin: 0 12px;
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      background-color: #B5B6BC;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
  }
}

.card {
  background-color: $white-back;
  border-radius: 6px;
  width: 260px;
  height: 200px;
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 14px;
    color: $gray-text;
    margin-top: 6px;
  }

  &__text {
    font-family: "TT Lakes";
    font-size: 16px;
    color: $back-text;
    font-weight: 500;
  }

  &__btn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 16px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    }
    
  }

 @media (min-width: 767px){
    .services{
      display: none;
    }
}