@use 'vary.scss' as *;

.side-menu__nav {
    display: flex;
    margin-left: 34px;
}


.side-menu__list {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    gap: 10px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}


.side-menu__btn {
    font-family:'TT Lakes';
    font-weight: 500;
    background-color: $gray-back;
    color: $gray-text;
    padding: 10px 15px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 6px;
    width: 248px;
    height: 40px;
    font-size: 16px;
    display: flex;            
    justify-content: center;
    align-items: center;
}


.side-menu__btn.active {
    border: 2px solid $light_green-decor;
    background-color: $white-back;
    color: $gray-text;
}

@media (min-width:1440px){
    .side-menu__list {
        display: flex;
        flex-wrap: wrap; 
        overflow: hidden; 
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media (max-width:1439px){
.side-menu__list-wrapper {
  position: relative;
  overflow: hidden;
}

.side-menu__slide--start {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    270deg,
    #F8F8F8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%);
}
}